<div [ngClass]="{
    'is-available': !block.wasRevealed,
    'is-flagged': (!forceRevelation && block.isFlagged) || (forceRevelation && block.isFlagged && !block.hasMine),
    'was-exploded': block.hasMine && (block.wasRevealed || forceRevelation),
    'was-revealed': (block.nearMines == 0 && !block.hasMine && block.wasRevealed),
    'has-near-mines': (block.nearMines > 0 && !block.hasMine && block.wasRevealed)
}">
    <span *ngIf="block.nearMines > 0 && !block.hasMine && block.wasRevealed">{{ block.nearMines }}</span>
</div>