%field-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}

.is-available{
    @extend %field-block;

    background-color: gray;
}

.is-flagged{
    @extend %field-block;

    background-color: greenyellow;
}

.was-exploded{
    @extend %field-block;

    background-color: tomato;
}

.was-revealed{
    @extend %field-block;

    background-color: lightgray;
}

.has-near-mines{
    @extend %field-block;

    background-color: orange; 
}