.container {
    display: flex;
    min-height: 50px;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
	flex-direction: column;
}

.victory{
    color: lightgreen;
}

.defeat{
    color: red; 
}