<div class="container center column">
  <span>{{ rowsQuantity }} X {{ columnsQuantity }}</span>
  <span *ngIf="victory == true" class="victory">
    VOCÊ VENCEU!
  </span>
  <span *ngIf="victory == false" class="defeat">
    VOCÊ PERDEU!
  </span>
</div>

<div *ngFor="let row of minedField; let x = index" class="container center">

  <app-field-block *ngFor="let column of minedField[x]; let y = index" class="field-block" [isAvailable]=gameIsActive
    [forceRevelation]="victory == false" [block]=minedField[x][y] (putFlag)="putFlagHander($event)"
    (revealBlock)="revealBlockHander($event)">
  </app-field-block>

</div>